<div class="w100 h100 bcolor1">
  <div class="pageW bc footer">
    <ul>
      <li><img src="<%= image_url("footer/footer_01.jpg") %>" alt="" /></li>
      <li><img src="<%= image_url("footer/footer_02.jpg") %>" alt="" /></li>
      <li><img src="<%= image_url("footer/footer_03.jpg") %>" alt="" /></li>
      <li><img src="<%= image_url("footer/footer_04.jpg") %>" alt="" /></li>
      <li><img src="<%= image_url("footer/footer_05.jpg") %>" alt="" /></li>
    </ul>
  </div>
  <div class="pageW bc mt20 footer_con">
    <div class="fl pagew127">
      <ul>
        <li class="act"><a>新手上路</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">供应指南</a></li>
      </ul>
    </div>
    <div class="fl pagew127">
      <ul>
        <li class="act"><a>供应商入内</a></li>
	<% if !session[:user_id] %>
           <li><a href="/login">发布产品</a></li>
        <% else %>
          <% if !User.find(session[:user_id]).admin %>
            <li><a href="/products/new">发布产品</a></li>
          <% else %>
            <li><a href="/login">发布产品</a></li>
          <% end %>
        <% end %>

	<% if !session[:user_id] %>
           <li><a href="/login">管理产品</a></li>
        <% else %>
          <% if !User.find(session[:user_id]).admin %>
            <li><a href="/products_list">管理产品</a></li>
          <% else %>
            <li><a href="/login">管理产品</a></li>
          <% end %>
        <% end %>
        <li><a href="#">招标报价</a></li>
        <li><a href="#">管理报价</a></li>
        <li><a href="#">实地认证</a></li>
      </ul>
    </div>
    <div class="fl pagew127">
      <ul>
        <li class="act"><a>平台规则</a></li>
        <li><a href="#">会员协议</a></li>
        <li><a href="#">投诉规则</a></li>
        <li><a href="#">隐私策略</a></li>
        <li><a href="#">法律声明</a></li>
      </ul>
    </div>
    <div class="fl pagew127">
      <ul>
        <li class="act"><a>会员服务</a></li>
        <li><a href="#">联系客服</a></li>
        <li><a href="/providers/new">申请入住</a></li>
      </ul>
    </div>
    <div class="fl pagew127">
      <ul>
        <li class="act"><a>采购平台</a></li>
        <!--<li><img src="<%= image_url("footer/footer_weixin.jpg") %>"></li>-->
      </ul>
    </div>
    <div class="fl pagew127 ml70">
      <ul>
        <li>
          <a href="http://www.51exc.com/">
            <img src="<%= image_url("footer/footer_exc.jpg") %>">
          </a>
        </li>
        <li>
          <a href="http://www.ezz168.com/">
            <img src="<%= image_url("footer/footer_ezz.jpg") %>">
          </a>
        </li>
        <li>
          <a href="http://www.51ezg.com/">
            <img src="<%= image_url("footer/footer_ezg.jpg") %>">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pageW bc mt19 footer_con1 tc fcolor1">
    <p>COPYRIGHT © 2013-2016 佛山市楼兰家居用品有限公司 版权所有  <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备12034873号-10</a></p>
  </div>
  <div class=" bc footer_con2 tc fcolor1">
    <ul>
      <li><img src="<%= image_url("footer/footer_06.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_07.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_08.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_09.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_10.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_11.jpg") %>" alt=""></li>
      <li><img src="<%= image_url("footer/footer_12.jpg") %>" alt=""></li>
    </ul>
  </div>
</div>
